/*Fuentes Externas*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*Fuente local*/
@font-face {
    font-family: "lato-bold";
    src: url("../assets/fonts/Lato-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Selector de clase*/
.img-home{
    border-radius: 50px;
    border: 5px solid blue;
    padding: 20px;
    margin: 30px 20px 15px 10px;
    width: 50%;
}

/*Selector de etiqueta*/
h1 {
    font-family: 'Roboto', sans-serif;
}

/*Fuentes local*/
h2{

    /*fonts*/
    font-family: "lato-bold", sans-serif;
    font-weight: 700;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    color: darkorange;
    word-spacing: 5px;
    letter-spacing: 5px;

    /*Boxmodeling*/
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    border: 2px solid green;

    background-color: aqua;

}

#texto-home{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

/*background color*/
body{
    background-color: beige;
}


/*Background Image Contacto*/
#body-contact{
    color: white;
    background-image: url("../assets/img/hdelsolbackimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Comentario en CSS*/

/*Flexbox*/

/*Navbar con Flexbox*/

nav{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a{
    font-size: 20px;
    color: black;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

/*Flexbox práctica*/

.flex-container{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    margin: 10px;
    height: 800px;

    
    /*propiedades de flexbox*/
    /*Activamos flex*/
    display: flex;
    /*Define el eje principal o main axis*/
    flex-direction: row;
    /*flex-wrap*/
    flex-wrap: wrap;
    /*flex-flow: row wrap;*/
    /*Eje principal*/
    justify-content: flex-start;
    /*eje secundario*/
    align-items: flex-start;
    /*espaciado entre lineas*/
    align-content: space-around;
}

.caja{
    /*box-modeling*/
    width: 120px;
    height: 120px;
    border: 1px solid gray;
    background-color: white;
    margin: 5px;

    /*Fonts*/
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 120px;
    text-align: center;

}

.caja1{
    background-color: lightcoral;
    order: 2;
    flex-grow: 1;
}

.caja2{
    background-color: lightgreen;
    order: 3;
    flex-grow: 5;
}

.caja3{
    background-color: lightsalmon;
    order: 1;
    flex-grow: 2;
}

/*efecto parallax*/

.banner{
    width: 100%;
    height: 700px;
    background-image: url("../assets/img/hdelsolbackimg.jpg");
    background-size: cover;
    /*efecto parallax*/
    background-attachment: fixed;
}

.banner2{
    width: 100%;
    height: 700px;
    background-image: url("../assets/img/hdelsolpool.jpg");
    background-size: cover;
    /*efecto parallax*/
    background-attachment: fixed;
}


/*CSS GRID Práctica*/

.title-grid{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;

    margin: 20px;
}

.grid-container{
    /*Box-modeling*/
    width: 90%;
    max-width: 1000px;
    border: 5px solid black;
    margin: auto;

    /*Fonts*/
    font-size: 50px;
    line-height: 50px;
    text-align: center;

    /*Activamos CSS GRID*/
    display: grid;
    /*Defino la cantidad de columnas que va a tener mi grilla*/
    grid-template-columns: 1fr 2fr 1fr; /*Con fracciones*/
    /*Defino la cantidad de filas que va a tener mi grilla*/
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    /*justify-items: center; /*Eje Horizontal*/
    /*align-items: flex-start ; /*Eje Vertical*/
 
}

/*divs que están directamente adentro del class grid-container*/

.grid-container > div{
    display: block;
    padding: 20px;
    color: white;
    background: #2f89fc;
    box-shadow: 2px 2px 10px rgba(0, 0n, 0, .25);
}

/*Propiedades de los hijos GRIDS*/
.box-1{
    justify-self: center; /*Eje horizontal*/
    /*align-self: flex-start; /*Eje Vertical*/
}

.box-7{
    justify-self: start; /*Eje horizontal*/
    /*align-items: center;*/
}

/*Habitaciones con CSS GRID*/
.room-img{
    width: 350px;
}

.grid-imagenes{
    width: 90%;
    max-width: 1000px;
    margin: auto;

    /*activamos grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
    gap: 10px;

}

/*Botones prediseñados*/
button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #e8e8e8;
   --button_outline_color: #000000;
   font-size: 14px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   margin-top: 10px;
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }

/*Grid Responsive*/

.grid-contenedor-responsive{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;

    /*activamos grid*/
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    /*grid por areas*/
    grid-template-areas: 
    "header    header    header"
    "contenido contenido sidebar"
    "widget-1  widget-1  widget-2"
    "footer    footer    footer"
    ;
}

.grid-contenedor-responsive > div,
.grid-contenedor-responsive .header,
.grid-contenedor-responsive .contenido,
.grid-contenedor-responsive .sidebar,
.grid-contenedor-responsive .footer {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.grid-contenedor-responsive .header{
    background-color: #12203e;
    color: #fff;
    /*grid-column: 1/4;*/
    grid-area: header;
}

.grid-contenedor-responsive .contenido{
    grid-area: contenido;
}

.grid-contenedor-responsive .sidebar{
    background-color: #faa43d;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sidebar;
}

.grid-contenedor-responsive .widget-1,
.grid-contenedor-responsive .widget-2{
    background-color: #55a8fd;
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-contenedor-responsive .widget-1{
    grid-area: widget-1;
}

.grid-contenedor-responsive .footer{
    background-color: #12203e;
    color: #fff;
    /*grid-column: span 3;*/
    grid-area: footer;
}

/*MediaQueries con Grid-Areas*/
@media screen and (max-width: 768px) {
    .grid-contenedor-responsive{
        grid-template-areas: 
        "header header header"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "widget-1 widget-1 widget-2"
        "footer footer footer"
        ;
    }   
}




