/*Fuentes Externas*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*Fuente local*/
@font-face {
    font-family: "lato-bold";
    src: url("../assets/fonts/Lato-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Selector de clase*/
.img-home{
    border-radius: 50px;
    border: 5px solid blue;
    padding: 20px;
    margin: 30px 20px 15px 10px;
    width: 50%;
}

/*Selector de etiqueta*/
h1 {
    font-family: 'Roboto', sans-serif;
}

/*Fuentes local*/
h2{

    /*fonts*/
    font-family: "lato-bold", sans-serif;
    font-weight: 700;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    color: darkorange;
    word-spacing: 5px;
    letter-spacing: 5px;

    /*Boxmodeling*/
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    border: 2px solid green;

    background-color: aqua;

}

#texto-home{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

/*background color*/
body{
    background-color: beige;
}


/*Background Image Contacto*/
#body-contact{
    background-image: url("../assets/img/hdelsolbackimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Comentario en CSS*/

/*Flexbox*/

.flex-container{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    margin: 10px;
    height: 800px;

    
    /*propiedades de flexbox*/
    /*Activamos flex*/
    display: flex;
    /*Define el eje principal o main axis*/
    flex-direction: row;
    /*flex-wrap*/
    flex-wrap: wrap;
    /*flex-flow: row wrap;*/
    /*Eje principal*/
    justify-content: flex-start;
    /*eje secundario*/
    align-items: flex-start;
    /*espaciado entre lineas*/
    align-content: space-around;
}

.caja{
    /*box-modeling*/
    width: 120px;
    height: 120px;
    border: 1px solid gray;
    background-color: white;
    margin: 5px;

    /*Fonts*/
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 120px;
    text-align: center;

}

.caja1{
    background-color: lightcoral;
    order: 2;
    flex-grow: 1;
}

.caja2{
    background-color: lightgreen;
    order: 3;
    flex-grow: 5;
}

.caja3{
    background-color: lightsalmon;
    order: 1;
    flex-grow: 2;
}

/*efecto parallax*/

.banner{
    width: 100%;
    height: 700px;
    background-image: url("../assets/img/hdelsolbackimg.jpg");
    background-size: cover;
    /*efecto parallax*/
    background-attachment: fixed;
}

.banner2{
    width: 100%;
    height: 700px;
    background-image: url("../assets/img/hdelsolpool.jpg");
    background-size: cover;
    /*efecto parallax*/
    background-attachment: fixed;
}
